.countryCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: white;
    height: max-content;
    width: 200px;
    border-radius: 15px;
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.15) ;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
    cursor: pointer;

}